---
layout: layout.liquid
title: Travels of the Wanderer
---

<h1>Travels of the Wanderer</h1>

<div class="blog-title">
    <a href="/post-1/" title="Echoes of Silence">
        <h2>Echoes of Silence</h2>
        <article class="blog-preview">
            <h3>Drifting through the void, I find solace in the quiet—until the silence speaks back.</h3>
        </article>
    </a>

   <hr class="dotted">

    <a href="/post-2/" title="The Weight of Light">
        <h2>The Weight of Light</h2>
        <article class="blog-preview">
            <h3>In the endless night, even light feels heavy.</h3>
        </article>
    </a>

</div>