
body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #000000;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 450px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

img.about {
    margin-top: 1em;
    opacity: 0.5;
}

hr.dotted {
    border-top: 3px dotted #bbb;
    border-bottom: none;
    width: 50%;
  }

.about-text, .blog-post {
    max-width: 40%;
    margin: 0 auto;
}

.blog-post {
    text-align: left;
}

.footer { 
    position: absolute;
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

a {
    color: #EAE8FF;
    text-decoration: none;
  }

.contactButton {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background:none;
    border:none;
    margin:0 auto;
    padding-top: 27%;
    cursor: pointer;
    justify-content: center;
    font-size: 1.2em;
}